.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    gap: 6px 12px;
    padding: 32px 16px;
}

@media (min-width: 768px) {
    .photo-grid {
        gap: 8px 16px;
        padding: 44px 24px;
    }
}

@media (min-width: 1024px) {
    .photo-grid {
        padding: 44px 48px;
    }
}

@media (min-width: 1240px) {
    .photo-grid {
        padding: 32px 0px;
    }
}