.intro {
    padding: 20px 16px;
}

@media (min-width: 768px) {
    .intro {
        padding: 44px 24px;
        max-width: 928px;
        margin: 0 auto;
    }
}

@media (min-width: 1024px) {
    .intro {
        padding: 48px 0;
        max-width: 928px;
    }
}

@media (min-width: 1280px) {
    .intro {
        max-width: 984px;
    }
}
