.root {
    max-width: 1184px;
    margin: 0 auto;
    font-family: "Inter", Arial, sans-serif;
    line-height: 163%;
    font-weight: 400;
    color: var(--text-color);
    background: var(--bg-color);
}
