.cover {
    position: relative;
    background-image: url(../../../images/cover.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 8/5;
}