.place {
    display: grid;
    gap: 30px;
}

.place:not(:last-child) {
    margin-bottom: 50px;
}

@media (min-width: 768px) {
    .place {
        grid-template-columns: 1fr 1fr;
        gap: 48px 28px;
    }
    .place:not(:last-child) {
        margin-bottom: 73px;
    }
}

@media (min-width: 1024px) {
    .place {
        gap: 48px 32px;
    }
    .place:not(:last-child) {
        margin-bottom: 80px;
    }
}

@media (min-width: 1280px) {
    .place {
        gap: 48px 40px;
    }
}
